*{
	padding: 0px;
	margin: 0px;
	
}
#logo{
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 1em;
	height: 110px;
	overflow: hidden;
	background-color:  rgb(22, 5, 53);
}
#logo img{
	position: absolute;
	bottom:0.5em;
	left:37%;
	width: 7em;
	background-color: #fff;
	height: 7em;
	border-radius: 50%;
}
#logo span{
	text-align: center;
	color: #ef5350;
	display: inline-block;
	position: absolute;
	bottom:0.5em;
	left:44%;
	font-size:200%;
	font-weight: bold;
}

#nav{
	background-color:indigo;
	width:98%;
	margin-top: 0.3em;
	padding: 0.5em 0.8em 0.5em 0.8em;
	border-bottom: 0.2em solid #fff;
}
#nav #bar{
	color:#fff;
	font-size: 160%;
	cursor: pointer;
	position: relative;

opacity: 0;
}
#nav #bar i{
left:90%;
position: absolute;	

}
#ul{
	width: 100%;
	display: grid;
	grid-template-columns:10% 10% 10% 10% 10% 10% 30%;
	grid-column-gap: 1em;
	overflow: hidden;
	transition: all 1s linear;
}
#ul .listcont{
  position: relative;
  height: 30px;
  overflow: hidden;
}
#ul .listcont li{
	position: absolute;
	transition: all 300ms linear;
	width: 100%;
	height: 100%;
	font-family: monospace;
	text-align: center;
	font-size: 130%;
	line-height: 1.8em;
	list-style: none;
	overflow: hidden;
}
#ul .listcont li a{
text-decoration: none;
color:red;
}
#ul .listcont li:nth-child(1){
	color: aliceblue;
}
#ul .listcont li:nth-child(2){
	transform: translateY(40px);
	font-weight: bold;
}
#ul .listcont:hover li:nth-child(1){
	transform: translateY(-40px);
}
#ul .listcont:hover li:nth-child(2){
	transform: translateY(0px);
}

#socailcont{
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 0.5em;
}
#socailcont input{
	padding: 1em 1em 1em 1em;
	width: 60%;
}
#socailcont button{
	padding: 1.2em;
	width: 30%;
	color: aliceblue;
	background-color: #1a0231;
	cursor: pointer;
	border: 0em;
	outline: none;
}
#socailcont button i{
	font-size: 120%;
	margin-top:-0.6em;
}
#socailcont input::placeholder{
	font-weight:bold;
	color: #1a0231;
}
header{
	width: 100%;
	z-index: 1000;
}
#cont{
    width:100%;
    position:relative;
    overflow:hidden;
		 height:600px;
		 
	 }
	 #cont::after{
	content:'mmmmm';
color:rgb(10, 10, 34);
	width: 100%;
	background-color: rgb(10, 10, 34);
	position: absolute;
	bottom: 0px;
	 }
	 #cont::before{
		 content:'';
		 width:60px;
		 height:60px;
		 background-color: rgb(10, 10, 34);
		 position: absolute;
		 z-index: 2000;
		 bottom: -2.5em;
		 left:50%;
		 transform: translateX(-50%) rotate(-40deg);
	 }
   #cont #imgcont{
      width:400%;
      height:600px;
      background-color:blue;
      position:absolute;
      display: inline-grid;
      grid-template-columns: 25% 25%  25%  25% ;
   }
   #cont #imgcont img{
   	   width:100%;
      max-width:100%;
      height :600px;
   }
   .contball{
   	width: 100%;
   	position:absolute;
   	top: 60%;
   	display: inline-grid;
      grid-template-columns:20px 20px 20px 20px;
      justify-content: center;
      grid-column-gap: 12px;
   }
   .ball{
   	text-align: center;
   height:20px;
   border-radius:50%;
   background-color:gray;
   
	 }
	 #footercont{
		height: 20em;
	 }
	 #footercont #warn{
		 padding-top: 3.5em;
		 text-align: center;
		 font-size: 150%;
	 }
	 #footercont #warn #warn1{
		 color: brown;
	 }
	 #footercont #copy{
		 color:antiquewhite;
		 background-color: rgb(22, 5, 53);
		 font-family: monospace;
		 padding: 1.2em;
	 }
   #footer{
	   display: grid;
	   grid-template-columns: repeat(4,20%);
		 height: 20em;
		 grid-column-gap: 1em;
		 color:aliceblue;
		 background-color: indigo;
	   justify-content: center;
	   font-family: 'Courier New', Courier, monospace;
	   
	   margin-top: 1em;
	   padding-top: 5em;
   }
   #footer div li{
		 margin-top: 0.8em;
		 list-style: none;
		 border-bottom: 1px solid aliceblue;
		 width: 80%;
	 }
	 #footer div li a{
		 text-decoration: none;
		 color:aliceblue;
	 }
	 #footer div p{
		margin-top: 1em;
	 }
	 #footer div p .subscribe{
		 padding: 0.5em;
		
	 }
	 #footer div p input{
		 width:93%;
	 }
	 #footer div p button{
		 width: 100%;
		 background-color: #1a0231;
		 cursor: pointer;
		 color:aliceblue;
	 }
	 #mission{
		 display: grid;
		 grid-template-rows: 15% 3% 25%;
		 justify-content: center;
		 margin:2em auto 0em auto;
		 width:80%;
		 height: 140vh;
	 }
	 #mission p{
		 width:100%;
		 text-align:justify;
		 font-family:Georgia, 'Times New Roman', Times, serif;
		 color:gray;
	 }
	 #mission h2{
		 color:rgb(10, 10, 34);
		 text-shadow: 0.1em 0em 0.2em rgb(233, 211, 211) ,0em 0.1em 0.2em gray;
		 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	 }
	 
	 #mission h4{
		 color:#8869a3;
		 margin: 1em 0em 0.2em 0em;
		 font-weight: bolder;
		 font-size: 130%;
		 font-family: 'Courier New', Courier, monospace;
	 }
	 #mission h6{
		 color:rgb(128, 165, 42);
		 font-size: 120%;
		 font-weight: bolder;
		 margin: 0.2em 0em 0.2em 0em;
		 font-family: monospace;
	 }
	 #top{
		 width: 3em;
		 height: 3em;
		 background-color:#1a0231;
		 position: fixed;
		 z-index: 1000;
		 bottom:4%;
		 right:1em;
		 color:#fff;
		 font-size: 90%;
		 font-family: sans-serif;
		 line-height: 3em;
		padding-left: 1em;
		cursor: pointer;
	 }
	
	 #TESTIMONY{
		margin-top: 3em;
		position: relative;
		height: 300px;
		color:rgb(10, 10, 34);
		text-align: center;
	 }
	 #TESTIMONY h2{
		 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		 text-shadow: 0.1em 0em 0.2em rgb(238, 229, 229) ,0em 0.2em 0.2em gray;
	 }
	 #TESTIMONY #testicont{
					position: relative;
					width: 90%;
					overflow: hidden;
				margin: 3em auto 0em auto;
	 }
	 #TESTIMONY #testicont #testitem{
		 display:grid;
		 grid-template-columns: repeat(5,20%);
		 width:100%;
		 margin-top: 3em;
		 height: 12em;
		 position: relative;
	 }
	 #TESTIMONY #testicont #testitem div:nth-child(1)::before{
		content:'';
		background-image: url('./imaefolder/div.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	 #TESTIMONY #testicont #testitem div:nth-child(2)::before{
		content:'';
		background-image: url('./imaefolder/div2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#TESTIMONY #testicont #testitem div:nth-child(3)::before{
		content:'';
		background-image: url('./imaefolder/div3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#TESTIMONY #testicont #testitem div:nth-child(4)::before{
		content:'';
		background-image: url('./imaefolder/div4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#TESTIMONY #testicont #testitem div:nth-child(5)::before{
		content:'';
		background-image: url('./imaefolder/div5.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#TESTIMONY #testicont #testitem div{
		padding-top: 4em;
		border: 1px solid gray;
		color:rgb(199, 171, 197); 
		background-color:rgb(10, 10, 34);
	}
	#TESTIMONY #testicont #testitem div:hover{
		background-color: lightcoral;
	}
	#TESTIMONY #testicont #testitem div::before{
		content:'';
		width:80px;
		height: 80px;
		position: absolute;
		border-radius: 50%;
		top:-20%;
		left:50%;
		transform: translateX(-50%);
	}
	#s{
		position: fixed;
		width: 25%;
		background-color:#fff;
		z-index: 1000;
		left:78%;
		height: 100px;
		text-align: center;
		line-height: 100px;
		transform: translateX(-50%);
		display: none;
		font-size: 120%;
		box-shadow: 0.1em 0em 0.2em gray ,0em 0.2em 0.2em gray;
	}
/* begining of blog page style	 */
#post{
	display: grid;
	grid-template-rows: repeat(3,30%);
	grid-row-gap: 3em;
	height: 189vh;
	padding-top: 1.2em;
	margin: 7em 0em 7em 0em;
}
#post .postcont{
	margin: 0em auto 0em auto;
	width:90%;
}
#post .postcont{
	display: grid;
	grid-template-columns: repeat(2,50%);
	border: 1px solid gray;
 padding-right: 1.2em;
 box-shadow: 0.3em 0em 0.5em gray ,0em 0.3em 0.2em gray;
}
#post .postcont div .imgblog{
	width: auto;
	height: 56vh;
	max-width: 100%;
}
#post .postcont div .admin{
 position: relative;
 margin-bottom: 0.2em;
 height: 3em;
 width:50%;
 margin-top: 1em;
}
#post .postcont div .admin img{
	width:3em;
	height: 3em;
	border-radius: 50%;
	position: absolute;
}
#post .postcont div .admin span{
position: absolute;
}
#post .postcont div .admin span:nth-child(2){
	top:0px;
	left:4em;
	height: 1em;
	font-family: monospace;
	color: grey;
}
#post .postcont div .admin span:nth-child(3){
	bottom:1em;
	left:4em;
	height: 15px;
	font-family: monospace;
	color: grey;
}
#post .postcont div p{
	color: grey;
	text-align: justify;
	font-family: sans-serif;
	line-height: 1.5em;
	word-spacing: -0em;
	padding-bottom: 1em;
	border-bottom: 1px solid gray;
}
#post .postcont div h2{
	color:#455A64;
	font-family: sans-serif;
	margin: 0.5em 0em 0.5em 0em;
}
#post .postcont:hover h2{
color:#7E57C2;
}
#post .postcont .love{
	font-size: 150%;
	
}
#post .postcont .love:hover{
	color:royalblue;
}
#post1{
	position: absolute;
	color: indigo;
	left:15%;
	top:40%;
}
/* beginning of gallery page style */
#gallery{
	display: grid;
	grid-template-columns: repeat(3,30%);
	height: 85vh;
	justify-content:center;
	margin-top: 5em;
}
/* begining of contact style */
#contactpage{
	text-align: center;
	margin: 2em 0em 1em 0em;
}
#contactcont #div{
	display:grid;
	grid-template-columns: 60%;
	
	height:350px;
	justify-content: center;
	padding-top: 1em;
	margin-top: 2.5em;
	margin-bottom: 3em;
}
#contactcont #div p input{
	padding: 0.7em 1.8em 0.7em 1.3em;
	width: 80%;
}
#contactcont #div p{
	justify-content: center;
	margin-top: 1em;
	padding-left: 6em;
}
#contactcont #div p textarea{
	width: 80%;
	padding: 0.6em 1.8em 0.6em 1.3em;
}
#contactcont #div p button{
	width:86%;
	padding: 1em;
	background-color: indigo;
	color:aliceblue;
}
#contactcont #div p label{
	font-family: monospace;
	font-weight: bold;
	font-size: 120%;
	color:#616161;
}
#map h3{
	text-align: center;
	margin-top: 7em;
	text-decoration: underline;
	text-decoration-color: indigo;
	text-decoration-style:solid;
	font-size: 150%;
}
#mapcont iframe{
	width: 100%;
	margin-top: 6em;
} 
#map #direct{
	display: grid;
	grid-template-columns: repeat(3,30%);
	text-align: center;
	margin-top: 10em;
	padding-top: 2em;
	justify-content: center;
	border-top: 1px solid gray;
}
#map #direct p span{
	font-size: 1.1em;
	font-family: sans-serif;
}

#map #direct p i{
	font-size: 30em;
	color: #616161;
	text-align: center;
}
#map #direct p:nth-child(2) i{
	color:#f44336;
}
#map #direct p:nth-child(3) i{
	color:#212121;
} 
/* begining of about us page */
#authorcont{
	margin-top: 1.5em;
}
#authorcont #founder div{
	position: relative;
}
#authorcont #founder{
	display:grid;
	grid-template-columns:40% 45%;
	justify-content: center;
	grid-column-gap: 0.3em;
	 width: 90%;
	margin: 0 auto;
}
#authorcont #founder {
	position: relative;
	height:20em;
}
#authorcont #founder div h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #1a0231;
	text-align: center;
	margin:0em 0em 0.6em 0em;
	
}
#authorcont #founder div p,#Thompsonvision p{
	color: gray;
	font-family: sans-serif;
text-align: justify;
line-height: 1.3em;
}
#authorcont #founder #imgcont img{
	height:14em;
	padding: 0.2em;
	border: 1em  inset #1a0231;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
}
 #Thompsonvision{
	width:80%;
	margin: 0 auto;
	position: relative;
	margin-top: 3em;
}
#Thompsonvision h3{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #1a0231;
	text-align: center;
	margin: 1em 0em 1em 0em;
	
}
/* begining of service style */
#service{
	display: grid;
	grid-template-columns: repeat(3,30%);
	justify-content: center;
	text-align: center;
	width: 100%;
	grid-row-gap: 8em;
	grid-column-gap: 1em;
}
#ourservice{
	text-align: center;
	color: indigo;
	margin: 3.5em 0em 3.5em 0em;
}
#service div .div{
	text-align: center;
	border:1px solid gray;
	justify-content: center;
	margin: 0 auto;
	padding: 0.3em;
}
#service div .div img{
	width:3em;
	max-width: 100%;
	height: auto;
	padding: 0.3em;
}

#service div .div+p{
	background-color: rgb(253, 252, 253);
	width: 97%;
	height: 70%;
	text-align: left;
	box-shadow: 0.1em 0em 0.2em gray ,0em 0.3em 0.2em gray;
	color: #263238;
	font-size: 120%;
	text-align: justify;
	padding: 0.3em;
}


	@media only screen and (max-width: 1024px) {
		#socailcont input{
			width: 27%;
			display: block;
			margin: 0 auto;
		}
		#socailcont button{
			display: block;
			margin: 0.2em auto 0em auto;
		}
		#TESTIMONY h2{
			font-size: 150%;
			margin-top: 18em;
		} 
		#ul{
			display: block;
			height: 0px;
		}
		#ul .listcont li:nth-child(1){
			display: none;
		}
		#ul .listcont li:nth-child(2){
			transform: translateY(0px);
		}
		#socailcont{
			display: grid;
			grid-template-rows: repeat(2,20px);
		}
		 #socailcont p{
			 height: 150px;
		 }
		#ul .listcont{
			overflow: visible;
		}
		#nav #bar{
			opacity: 1;
			height: 30px;
		}
		#s{
			left:50%;
		}
		
		#footercont{
			position: relative;
			margin-top: 1em;
		}
		#contactcont #div p button{
			width:90%;
		}
		
		#mission{
			height: 110vh;
			margin-bottom: 0em;
		}
		#Thompsonvision{
			margin-top: 5em;
		}
		#service div .div{
			width: 100%;
			padding: 0.1em;
			border: 0.1em solid gray;
		}
		#service div p{
			width: 100%;
		}
	}

	
	@media only screen and (max-width: 768px) {
		#logo{
			height: 150px;
		}

		#logo img{
			width: 9em;
			height: 9em;
			left: 27%;
		}
		#logo span{
			font-size: 240%;
			left:44%;
		}
		#nav #bar{
			font-size: 210%;
		}
		
		#ul .listcont{
			height: 50px;
		}
		#ul .listcont li{
			font-size: 130%;
			line-height: 1.9em;
		}
		#cont{
			height: 500px;
		}
		#cont #imgcont{
			width: 400%;
			grid-template-columns: repeat(4,25%);
			height: 500px;
		}
		#cont #imgcont img{
			width:768px;
      max-width:100%;
			height :500px;
		}
		#mission{
			height: 200vh;
			margin-bottom: 0em;
		}
		#mission h2{
			position: relative;
			font-size: 120%;
		}
		#TESTIMONY{
			display: none;
		}
		#footercont{
			position: relative;
			margin-top: 0em;
		}
		#post .postcont div .admin span:nth-child(2){
   width: 8em;
		}
		#post .postcont div .admin span:nth-child(3){
			width: 12em;
		} 
		#post .postcont div p{
			padding-bottom: 0.1em;
			line-height: 1.2em;
			height: 15em;
			font-size: 0.9em;
		}
		#post .postcont div h2{
			font-size: 100%;
		}
		#post .postcont div .imgblog{
			width:20em;
		}
		#gallery div img{
			width:15em;
		}
		#contactcont #div p{
			padding-left: 3em;
		}
		#map #direct p i{
			font-size: 20em;
		}
		#TESTIMONY{
			display: none;
		}
		#mission{
			height: 160vh;
			margin-bottom: 2.5em;
		}
		#authorcont #founder div:nth-child(1){
			grid-column-start: 1;
			grid-column-end: 4
		}
		#authorcont #founder div:nth-child(2){
			grid-column-start: 1;
			grid-column-end: 3;
			height: 16em;
		}
		#Thompsonvision{
			width:90%;
			margin: 0 auto;
			position: relative;
			margin-top: 13em;
		}
		#Thompsonvision h3{
			text-align: left;
		}
		#service{
			display: block;
		}
		#service div .div{
			position: relative;
			padding: 0em;
			width: 90%;
		}
		#service div p{
			position: relative;
			width: 90%;
		}
		#service div{
			width:90%;
			margin: 4em auto 0em auto;
			position: relative;
			justify-content: center;
		}
	}
	@media only screen and (max-width: 600px){
  	#mission{
			height: 240vh;
			margin-bottom: 0em;
		}
	}
	@media only screen and (max-width: 450px){
		#logo img{
			left:18%;
		}
		#logo span{
			display: block;
		}
		#logo{
			width: 100%;
			overflow:visible;
		}
		#ul .listcont li{
			font-size: 130%;
			line-height: 1.9em;
		}
		#cont{
			height: 400px;
		}
		#cont #imgcont img{
			width:450px;
      max-width:100%;
			height :400px;
		}
		#mission{
			height: 290vh;
			margin-bottom: 0em;
		}
		#mission h2{
			position: relative;
			font-size: 110%;
			margin-top: 0.7em;
		}
		#TESTIMONY{
			display: none;
		}
		#footer{
			display: block;
			height: 50em;
			padding-top: 1em;
		}
		#footer div+div{
			margin-top: 3em;
			padding-top: 0em;
		}
		#footer div li{
			padding-left: 0.2em;
		}
		#footer div p input{
			width:97%;
		}
		#post .postcont{
			height: 60vh;
		}
		#post .postcont .love{
		position: relative;
			display:block;
		}
		#post .postcont div .blogcontent+span{
		
			margin-top: 3em;
		}
		#post .postcont div .healthycont+span{
			margin-top: 1em;
		}
		#post .postcont div p{
			border: none;
		}
		#gallery{
			height:60vh;
		}
		#gallery div img{
			width:9em;
		}
		#contactcont #div p button{
			width:98%;
		}
		#map #direct{
			display: block;
			justify-content: center;
		}
		
		#map #direct p span{
			font-size:1em;
		}
		#contactcont #div p{
			padding-left: 0em;
		}
		#map #direct p i{
			font-size: 10em;
		}
		#authorcont #founder #imgcont img{
			width: 50%;
		}
		#Thompsonvision{
			width:90%;
			margin: 0 auto;
			position: relative;
			margin-top: 20em;
		}
		
	}
	@media only screen and (max-width: 360px){
		#mission{
			height: 340vh;
			margin-bottom: 2.5em;
		}
		#mission h2{
			margin-top: 2.2em;
		}
		#mission h4{
   font-size: 110%;
		}
		#Thompsonvision{
			width:90%;
			margin: 0 auto;
			position: relative;
			margin-top: 24em;
		}
	}